@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  #header-content {
    width: 56rem;
    align-items: center;
  }

  #header-logo a {
    padding-left: 1rem;
  }

  #main-content {
    max-width: 42rem;
    width: 100%;
    align-items: center;

    article {
      max-width: 42rem;
      min-width: 42rem;

      img, iframe {
        max-width: 100%;
      }

      iframe {
        min-height: 23.625rem;
      }

      .card-skeleton-div {
        min-height: 42rem;
      }
    }
  }
}